<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
</head>

<body>
	<div class="player-info" id="player"><h3></h3></div>
    <div class="board" id="board">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
    <div class="message-content" id="message">
        <div class="message-text"></div>
        <button id="restart-button">Restart</button>
    </div>

	<div class="message-content" id="error">
        <div class="message-text"></div>
        <button id="reload-button">New Game</button>
    </div>

	<input type="hidden" id="room-id" value="<%=roomId%>" />
	<input type="hidden" id="pid" value="<%=pid%>" />
	<script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/playground.js"></script>
</body>

</html>